In [1]:
import pandas as pd
import numpy as np

In [2]:
article_category_df = pd.read_excel(r'd:/temp/test_data.xlsx')
article_scope_df = pd.read_excel(r'd:/temp/activity_scope.xlsx')
article_users_df = pd.read_excel(r'd:/temp/test_users_data.xlsx')

In [82]:
# article_category_df.head()

In [90]:
# tmp_df = article_users_df.merge(article_scope_df, how='left', on='article_id')
# tmp_df[tmp_df.registered].head(50)

In [3]:
df = article_category_df.merge(article_scope_df, how='inner', on='article_id')
df = article_users_df.merge(df, how='left', on='article_id')

In [6]:
rows = []
grouped = df.groupby('article_id')
for article_id, group in grouped:
    category = group['category'].iloc[0]
    article = group['article'].iloc[0]    
    maturity = group['activity_scope'].iloc[0]
    total_registered = len(group[group.registered])
    total_unregistered = len(group[~group.registered])
    total_unique = len(group['user'].unique())
    
    sorted_group = group.sort_values(by='expert', ascending=False)
    
    top_10 = sorted_group.head(10)
    top_10_registered = len(top_10[sorted_group.registered==True])
    top_10_unregistered = len(top_10[sorted_group.registered==False])
    
    top5_registered = sorted_group[sorted_group.registered].head(5)
    top5_80_registered = sorted_group[(sorted_group.registered) & (sorted_group.expert > 0.8)].head(5)
    
    top5_expert = len(top5_registered[top5_registered['evaluation']=='expert'])
    top5_no_page = len(top5_registered[top5_registered['evaluation']=='no_page'])
    top5_not_expert = len(top5_registered[top5_registered['evaluation']=='not_expert'])
    top5_practitioner = len(top5_registered[top5_registered['evaluation']=='practiotioner'])
    top5_scholar = len(top5_registered[top5_registered['evaluation']=='scholar'])
    top5_unknown = len(top5_registered[top5_registered['evaluation']=='unknown'])
    top5_wikipedian = len(top5_registered[top5_registered['evaluation']=='wikipedian'])
    top5_nan = len(top5_registered[top5_registered['evaluation'].isnull()])
    
    top5_80_expert = len(top5_80_registered[top5_80_registered['evaluation']=='expert'])
    top5_80_no_page = len(top5_80_registered[top5_80_registered['evaluation']=='no_page'])
    top5_80_not_expert = len(top5_80_registered[top5_80_registered['evaluation']=='not_expert'])
    top5_80_practitioner = len(top5_80_registered[top5_80_registered['evaluation']=='practiotioner'])
    top5_80_scholar = len(top5_80_registered[top5_80_registered['evaluation']=='scholar'])
    top5_80_unknown = len(top5_80_registered[top5_80_registered['evaluation']=='unknown'])
    top5_80_wikipedian = len(top5_80_registered[top5_80_registered['evaluation']=='wikipedian'])
    top5_80_nan = len(top5_80_registered[top5_80_registered['evaluation'].isnull()])
        
    rows.append([category, 
                 article, 
                 article_id, 
                 maturity, 
                 total_unique, 
                 total_registered, 
                 total_unregistered, 
                 top_10_registered, 
                 top_10_unregistered,
                 top5_expert,
                 top5_no_page,
                 top5_not_expert,
                 top5_practitioner,
                 top5_scholar,
                 top5_unknown,
                 top5_wikipedian,
                 top5_nan,
                 top5_80_expert,
                 top5_80_no_page,
                 top5_80_not_expert,
                 top5_80_practitioner,
                 top5_80_scholar,
                 top5_80_unknown,
                 top5_80_wikipedian,
                 top5_80_nan])

new_df = pd.DataFrame(rows, columns=['category', 
                                     'article',
                                     'article_id', 
                                     'maturity', 
                                     '#distinct_users',
                                     '#registered_users',
                                     '#unregistered_users',
                                     '#top10_registered_users',
                                     '#top10_unregistered_users',
                                     'top5_expert',
                                     'top5_no_page',
                                     'top5_not_expert',
                                     'top5_practitioner',
                                     'top5_scholar',
                                     'top5_unknown',
                                     'top5_wikipedian',
                                     'top5_nan',
                                     'top5_80_expert',
                                     'top5_80_no_page',
                                     'top5_80_not_expert',
                                     'top5_80_practitioner',
                                     'top5_80_scholar',
                                     'top5_80_unknown',
                                     'top5_80_wikipedian',
                                     'top5_80_nan'])
new_df = new_df.sort_values(by='category', ascending=True)
new_df.head()

C:\Users\AlexY\Anaconda3\lib\site-packages\ipykernel\__main__.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
C:\Users\AlexY\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,category,article,article_id,maturity,#distinct_users,#registered_users,#unregistered_users,#top10_registered_users,#top10_unregistered_users,top5_expert,...,top5_wikipedian,top5_nan,top5_80_expert,top5_80_no_page,top5_80_not_expert,top5_80_practitioner,top5_80_scholar,top5_80_unknown,top5_80_wikipedian,top5_80_nan
11,Agriculture,Almond,1064,4.0,729,11,718,0,10,0,...,0,1,0,0,0,0,0,0,0,0
63,Agriculture,Napa cabbage,14447311,3.0,114,77,37,7,3,0,...,0,0,0,1,1,0,0,3,0,0
77,Agriculture,Burgata,18028108,1.0,15,13,2,8,2,0,...,1,0,0,0,0,0,0,1,0,0
56,Agriculture,Rally obedience,9012249,2.0,37,22,15,8,2,0,...,1,0,0,2,1,1,0,0,1,0
20,Arts,Bead weaving,3403,2.0,13,2,11,2,8,1,...,0,1,1,0,0,0,0,0,0,0

### Add activity scope for each article

In [7]:
new_df = new_df.sort_values(by='category', ascending=True)
new_df.to_excel(r'd:/temp/test_analysis.xlsx', index=False)

In [35]:
def average_by_column(column):
    avg_rows = []
    avg_cols = [col for col in new_df.columns if col not in ['category', 'article', 'article_id', 'maturity']]
    groups_by_column = new_df.groupby(column)
    for group_column, group in groups_by_column:
        avg_row = [group_column]
        for col in avg_cols:
            avg_row.append(np.round(np.average(group[col]), 2))
        avg_rows.append(avg_row)
    return pd.DataFrame(avg_rows, columns=[column] + avg_cols)

In [36]:
by_category_df = average_by_column('category')
by_category_df.to_excel(r'd:/temp/avg_by_category.xlsx', index=False)

In [37]:
by_maturity_df = average_by_column('maturity')
by_maturity_df.to_excel(r'd:/temp/avg_by_maturity.xlsx', index=False)