In [2]:
import pandas as pd

In [2]:
def get_labels():
    labels = []
    # article_name_to_id_map = get_article_name_to_id_map()
    for line in open(r'D:/Development/Thesis/Data/labels.txt'):
        line = line.replace('\n', '')

        l_index = line.find('\t')
        article_id = line[:l_index]
        line = line[l_index + 1:]

        l_index = line.find('\t')
        article_name = line[:l_index]

        r_index = line.rfind('\t')
        user_label = int(line[r_index + 1:])
        user_name = line[l_index + 1:r_index]

        labels.append((article_id, article_name, user_name, user_label))
    return labels

In [7]:
# loading labeled dataset
cols = ['article_id', 'article_name', 'user_name', 'user_label']
rows = []
for article_id, article_name, user_name, user_label in get_labels():
    rows.append([int(article_id), article_name, user_name, user_label])

labels = pd.DataFrame(rows, columns=cols)
print('total labeled articles: {}'.format(len(labels.article_id.unique())))

total labeled articles: 590

In [6]:
# loading test ids
test_ids = pd.read_csv(r'D:/Development/Thesis/Data/wiki_test_ids.csv', header=None)
test_ids = test_ids.rename(columns={0: "article_id"})
print('total test articles: {}'.format(len(test_ids.article_id.unique())))

total test articles: 100

In [8]:
# train ids extracted from labels (all non-test ids)
train_ids = labels[~labels.article_id.isin(test_ids.article_id)]
train_ids = pd.DataFrame(train_ids.article_id.unique(), columns=['article_id'])
print('total train articles: {}'.format(len(train_ids.article_id.unique())))

total train articles: 496

In [6]:
# the entire set of 1000 articles 
all_ids = pd.read_csv(r'D:/Development/Thesis/Data/1000_titles_ids.csv', header=None)
all_ids = all_ids.rename(columns={0: "article_id", 1: "article_name"})
all_ids.head()

   article_id         article_name
0    18056921      BÇŽtuta NeagrÄƒ
1    18077446  Havatzelet HaSharon
2    18028108              Burgata
3    18069865        Uvaria chamae
4    18076465        Givat Shapira

In [13]:
# total ids not included in train neither in test
more_ids = all_ids[(~all_ids.article_id.isin(train_ids.article_id)) & (~all_ids.article_id.isin(test_ids.article_id))]
print('More articles for testing: {} Existing test: {}'.format(len(more_ids), len(test_ids.article_id))) 
more_ids.to_csv(r'D:/Development/Thesis/Data/more_test.csv', index=False)

More articles for testing: 404 Existing test: 100

In [3]:
test_data_1 = pd.read_csv(r'Z:\thesis\test_data_1.csv')
print(len(test_data_1))
print(len(list(test_data_1.page_id.unique())))

30839
93

In [4]:
test_data_2 = pd.read_csv(r'Z:\thesis\test_data_2.csv')
print(len(test_data_2))
print(len(list(test_data_2.page_id.unique())))

580070
299

In [5]:
test_data_2.drop_duplicates(subset=['page_id', 'user'], inplace=True)
print(len(test_data_2))
print(len(list(test_data_2.page_id.unique())))

11088
299

In [6]:
ids_292 = test_data_2.page_id.unique()[:292]
test_data_2 = test_data_2[test_data_2.page_id.isin(ids_292)]
print(len(test_data_2))
print(len(list(test_data_2.page_id.unique())))

11017
292

In [7]:
test_data = pd.concat([test_data_1, test_data_2])

In [8]:
print('Q1: How many articles? Answer: {}'.format(len(test_data.page_id.unique())))

Q1: How many articles? Answer: 385

In [10]:
print('Q2: How many pairs in total? Answer: {}'.format(test_data.shape[0]))

Q2: How many pairs in total? Answer: 41856

In [11]:
print('Q3: How many unique editors? Answer: {}'.format(len(test_data.user.unique())))

Q3: How many unique editors? Answer: 35449

In [58]:
pd.to_pickle(path=r'Z:\thesis\test_data_385_articles.bz2', obj=test_data, compression='bz2')

In [18]:
restored_df = pd.read_pickle(path=r'Z:\thesis\test_data.bz2', compression='bz2')

In [21]:
len(restored_df)

594431

In [26]:
df = test_data_1
df[df.page_id == 18028108]['user']

0                Mottic
1         MaronitePride
2             Number 57
3           Closedmouth
4                Eewild
5        89.139.125.185
6              Ynhockey
7        Chicbyaccident
8              Frietjes
9              Tabletop
10    WereSpielChequers
11               Jllm06
12        64.254.239.66
13            Gilabrand
14           Solar-Wind
Name: user, dtype: object

In [34]:
df = test_data_2
# print(df[df.page_id == 967].sort_values(['user'])[].head(100))
df[df.page_id == 967].sort_values(['user']).to_csv(r'Z:\thesis\967.csv')

In [36]:
df = pd.read_csv(r'Z:\thesis\967.csv')
df.drop_duplicates(subset=['page_id', 'user'], inplace=True)
df.to_csv(r'Z:\thesis\967_1.csv')